.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    gap: 10px;
    background: rgba(35, 35, 35, 0.49);
    padding: 2em;
    border-radius: 10px;
    
}

