body{
    background-image: url("https://img.freepik.com/free-vector/black-faded-gradient-background-vector-with-blue-border_53876-125750.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.auth-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    gap: 10px;
    background: rgba(35, 35, 35, 0.69);
    padding: 2em;
    border-radius: 10px;

    
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}
.auth-form h2{
    text-align: center;
    color: white;
}
/* From Uiverse.io by niat786 */ 
.login-buttons{
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 35px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#1c1c1c,#029ff4);
    border: 0 solid;
    overflow: hidden;
  }
  
 .login-buttons:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
   
  }

.input-filled-form{
    height: 2em;
    border-radius: 10px;
}

#dont-account{
    color: rgb(225, 215, 215);
}